body {
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;
}
h1,
h2,
h3 {
  text-align: center;
  padding: 0.8rem !important;
}
main {
  padding-top: 1rem;
}
.center {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}
.modal-content input:not([type="radio"]),
.modal-content select,
.modal-content {
  background-color: #faf4ed;
}

.form-control:disabled{
  background-color: #f2e9e1 !important;
}

.modal-header,
.modal-header * {
  background-color: #f2e9e1;
}
.title-center {
  text-align: center;
}
.modal-backdrop {
  backdrop-filter: blur(5px);
  background-color: #01223770;
}
.modal-backdrop.in {
  opacity: 1 !important;
}
