body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;
}
h1,
h2,
h3 {
  text-align: center;
  padding: 0.8rem !important;
}
main {
  padding-top: 1rem;
}
.center {
  text-align: left;
}

.title-center {
  text-align: center;
}
.actionBtn{
  text-align: center;
  width: 100px;
}

#addRow{
  background-color: green;
  border-color: green;
}